{%  if page.header.navigation.active %}
    {% block cms_breadcrumb %}
        <div class="k-breadcrumb-wrapper">
            <div class="breadcrumb cms-breadcrumb container k-breadcrumb">
                {% sw_include '@Storefront/storefront/layout/breadcrumb.html.twig' with {
                    context: context,
                    category: page.header.navigation.active
                } only %}
            </div>
        </div>
    {% endblock %}
{% endif %}
