<li class="nav-item nav-item--startseite">
    <a href="https://deinkruemelchen.de/"
       class="nav-item-link"
       itemprop="url"
       title="Krümelchen Startseite">
        <i class="fa fa-home"></i></a>
</li>
<li class="nav-item nav-item--shop nav-item--active">
    <a href="https://deinkruemelchen.de/shop/"
       class="nav-item-link"
       itemprop="url"
       title="Dein Krümelchen Online Shop">
        Shop</a>
</li>
<li class="nav-item nav-item--laden">
    <a href="https://deinkruemelchen.de/laden/"
       class="nav-item-link"
       itemprop="url"
       title="Dein Krümelchen Ladengeschäft in Mülheim an der Ruhr">
        Laden</a>
</li>
<li class="nav-item nav-item--beratung">
    <a href="https://deinkruemelchen.de/beratung/"
       class="nav-item-link"
       itemprop="url"
       title="Dein Krümelchen - Beratungsangebote">
        Beratung</a>
</li>
<li class="nav-item nav-item--profis">
    <a href="https://deinkruemelchen.de/deine-kindersitzexperten/"
       class="nav-item-link"
       itemprop="url"
       title="Dein Krümelchen Kindersitzberatung von einem Kindersitzexperten - Behütet und sicher mit Kindern unterwegs">
        Kindersitzberatung</a>
</li>
<li class="nav-item nav-item--team">
    <a href="https://deinkruemelchen.de/team/"
       class="nav-item-link"
       itemprop="url"
       title="Dein Kümelchen Team - und offene Stellenangebote">
        Team</a>
</li>
<li class="nav-item nav-item--kontakt">
    <a href="https://deinkruemelchen.de/kontakt/"
       class="nav-item-link"
       itemprop="url"
       title="Der Weg zu uns, Kontaktformular, Anschrift und Telefon von Dein Krümelchen">
        Kontakt</a>
</li>