<li class="nav-item nav-item--blog">
    <a href="https://deinkruemelchen.de/blog/"
       class="nav-item-link"
       itemprop="url"
       title="Dein Krümelchen News & Ratgeber - unser Blog">
        News &amp; Ratgeber</a>
</li>
<li class="nav-item nav-item--divider">
    <span class="nav-item-divider-text">|</span>
</li>
<li class="nav-item nav-item--sport">
    <a href="https://deinkruemelchen.de/sport/"
       class="nav-item-link"
       itemprop="url"
       title="Dein Krümelchen Sport">
        Sport</a>
</li>