.base-slider-controls {
  .base-slider-controls-prev,
  .base-slider-controls-next {
    background: theme-color('primary');
    width: 42px;
    height: 42px;
    border-radius: 50px;

    &:after {
      color: #ffffff;
      width: 42px;
      height: 42px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.5em;
      font-weight: bold;
    }

    .icon {
      display: none;
    }
  }

  .base-slider-controls-prev {
    left: 0px;

    &:after {
      content: "<";
    }
  }
  .base-slider-controls-next {
    right: 0px;

    &:after {
      content: ">";
    }
  }
}