{%  sw_extends "@Storefront/storefront/component/blog/listing.html.twig" %}

{# We alter the columns in blog listing #}
{% block sas_element_blog_listing_box %}
    <div class="col-4">
        {% sw_include '@Storefront/storefront/component/blog/card/box.html.twig' %}
    </div>
{% endblock %}